# --- POSTGRES ---
DB_PORT_EXTERNAL=<external_port>
DB_SUPER_USER=<super_user>
DB_DEFAULT_NAME=<default_db>

# --- PRODUCTS ---
PRODUTOS_PORT_EXTERNAL=<external_port>
PRODUTOS_DB_USER=<produtos_db_user>
PRODUTOS_DB_NAME=<produtos_db_name>

# --- CLIENTS ---
CLIENTES_PORT_EXTERNAL=<external_port>
CLIENTES_DB_USER=<clientes_db_user>
CLIENTES_DB_NAME=<clientes_db_name>
