# --- POSTGRES ---
DB_PORT_EXTERNAL=<external_port>
DB_SUPER_USER=<super_user>
DB_DEFAULT_NAME=<default_db>

# --- PRODUCTS ---
PRODUCTS_PORT_EXTERNAL=<external_port>
PRODUCTS_DB_USER=<products_db_user>
PRODUCTS_DB_NAME=<products_db_name>

# --- CLIENTS ---
CLIENTS_PORT_EXTERNAL=<external_port>
CLIENTS_DB_USER=<clients_db_user>
CLIENTS_DB_NAME=<clients_db_name>
